<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <p>index页面</p>
    <img src="https://mypics.zhaopin.cn/avatar/2019/1/6/2aea4883-dd3e-4109-969b-d27aacd5a0e3.jpg">
</body>
</html>